
body{
    font-family: $fontContent;
    background-color: $colorBackground2;
}

.content{
    /*background-color: $colorBackground2;*/
	padding-bottom: 15px;
    button{
        color: $colorSecondary1;
    }
	.classic-list, .waiting-list, .search-list{
		overflow-y: auto;
	}
    .classic-list, .waiting-list{
        border: 3px solid $colorBackground2;
    }
    .classic-list{
        background-color: $colorWhite;
        height: 200px;
        a{
            color: $colorPrincipal1;
        }
        .selected{
            background-color: $colorPrincipal1;
            a{
                color: $colorBackground2;
            }
        }
    }
	.new-playlist{
		padding: 10px 0;
        .new-name{
            border-bottom: 1px solid $colorSecondary2;
            color: $colorSecondary1;
            text-align: center;
			margin-bottom: 5px;
        }
	}
    .search-list{
        height: 400px;
        padding-top: 20px;
        input{
            border-bottom: 1px solid $colorSecondary2;
            color: $colorSecondary1;
            text-align: center;
        }
    }
    .waiting-list{
        background-color: $colorPrincipal1;
        height: 400px;
        a{
            color: $colorBackground2;
        }
        .selected{
            background-color: $colorBackground2;
            a{
                color: $colorPrincipal1;
            }
        }
    }
}

h1, h2{font-family: $fontTitle1;}
h1{color: $colorPrincipal1;}
h2{color: $colorPrincipal2;}

h3{
    color: $colorBackground1;
    font-family: $fontTitle2;
    text-align: center;
    text-transform: uppercase;
}

header{
    background-color: $colorBackground1;
	.img_logo{
		height: 60px;
	}
	#settings{
		margin-top: 10px;
	}
}

.player{
	background-color: $colorWhite!important;
	.img-disc{
		width: 400px;
	}
	padding-bottom: 20px;
	@media screen and (min-width: 70em){
		.player-bar{
			margin-top: -17px;
		}
	}
    .remote{
        button{
            color: $colorPrincipal1;
            font-size: 2em;

            &.btn-selected{
                color: $colorSecondary1;
            }
        }
    }
	@media screen and (min-width: 70em){
		.music-player{
			margin-top: -20px;
		}
	}
}

#settings, #home, #library{
    color: $colorPrincipal1;
    font-size: 2em;
}

.item {
    padding: 10px 0;
    span{
        cursor: pointer;
    }
}


.fa-trash{
    color: $colorSecondary1;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.player-bar{
    height: 5px;
    cursor: pointer;
    padding: 0
}

.progress-bar{
    background: $colorSecondary1;
}

.currentSong{
    h3{
        color: $colorPrincipal1;
        text-transform: none;
    }
    p{
        color: $colorSecondary1;
    }
}

//range

div.rangeContent{
  padding-top: 7px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(157, 152, 142, 0.56);
  border-radius: 0px;
  border: 0.1px solid rgba(8, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.1px 0.1px 1px rgba(0, 0, 0, 0.67), 0px 0px 0.1px rgba(13, 13, 13, 0.67);
  border: 0.3px solid rgba(255, 255, 255, 0.15);
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(169, 164, 156, 0.56);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(157, 152, 142, 0.56);
  border-radius: 0px;
  border: 0.1px solid rgba(8, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.1px 0.1px 1px rgba(0, 0, 0, 0.67), 0px 0px 0.1px rgba(13, 13, 13, 0.67);
  border: 0.3px solid rgba(255, 255, 255, 0.15);
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(145, 140, 128, 0.56);
  border: 0.1px solid rgba(8, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(157, 152, 142, 0.56);
  border: 0.1px solid rgba(8, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.1px 0.1px 1px rgba(0, 0, 0, 0.67), 0px 0px 0.1px rgba(13, 13, 13, 0.67);
  border: 0.3px solid rgba(255, 255, 255, 0.15);
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(157, 152, 142, 0.56);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(169, 164, 156, 0.56);
}
