
body{
    font-family: $fontContent;
}

.content{
    background-color: $colorBackground2;
	padding-bottom: 15px;
    button{
        color: $colorSecondary1;
    }
	.classic-list, .waiting-list, .search-list{
		overflow-y: auto;
	}
    .classic-list, .waiting-list{
        border: 3px solid $colorBackground2;
    }
    .classic-list{
        background-color: $colorWhite;
        height: 200px;
        a{
            color: $colorPrincipal1;
        }
        .selected{
            background-color: $colorPrincipal1;
            a{
                color: $colorBackground2;
            }
        }
    }
	.new-playlist{
		padding: 10px 0;
        .new-name{
            border-bottom: 1px solid $colorSecondary2;
            color: $colorSecondary1;
            text-align: center;
			margin-bottom: 5px;
        }
	}
    .search-list{
        height: 400px;
        padding-top: 20px;
        input{
            border-bottom: 1px solid $colorSecondary2;
            color: $colorSecondary1;
            text-align: center;
        }
    }
    .waiting-list{
        background-color: $colorPrincipal1;
        height: 400px;
        a{
            color: $colorBackground2;
        }
        .selected{
            background-color: $colorBackground2;
            a{
                color: $colorPrincipal1;
            }
        }
    }
}

h1, h2{font-family: $fontTitle1;}
h1{color: $colorPrincipal1;}
h2{color: $colorPrincipal2;}

h3{
    color: $colorBackground1;
    font-family: $fontTitle2;
    text-align: center;
    text-transform: uppercase;
}

header{
    background-color: $colorBackground1;
	.img_logo{
		height: 60px;
	}
	#settings{
		margin-top: 10px;
	}
}

.player{
	.img-disc{
		width: 400px;
	}
	padding-bottom: 20px;
	@media screen and (min-width: 70em){
		.player-bar{
			margin-top: -17px;
		}
	}
    .remote{
        button{
            color: $colorPrincipal1;
            font-size: 2em;

            &.btn-selected{
                color: $colorSecondary1;
            }
        }
    }
	@media screen and (min-width: 70em){
		.music-player{
			margin-top: -20px;
		}
	}
}

#settings, #home, #library{
    color: $colorPrincipal1;
    font-size: 2em;
}

.item {
    padding: 10px 0;
    span{
        cursor: pointer;
    }
    .fa-trash{
        color: $colorSecondary1;
    }
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.player-bar{
    height: 5px;
    cursor: pointer;
    padding: 0
}

.progress-bar{
    background: $colorSecondary1;
}
