$colorBackground1: #0e0e0e;
$colorBackground2: #f8f8f8;
$colorPrincipal1: #008e90;
$colorPrincipal2: #313131;
$colorSecondary1: #99003a;
$colorSecondary2: #490054;
$colorWhite: #fff;

$fontTitle1: "Open Sans";
$fontTitle2: "Lato";
$fontContent: Calibri;
$fontOther: "Pathway Gothic One";
