<div class="row">
    <h1 class="text-center">{{ player ? player.host : 'MPRemote' }}</h1>
    <div class="col-sm-9 col-md-9 col-lg-3">
        <h2>Songs :</h2>
        <div class="padding list">
            <div ng-repeat="song in songs" class="item">
                {{song.file}}<button ng-click="addToQueue(song.file)"><img width="20px" height="20px" src="images/plus.png" /></button>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="padding list">
            <h2>Albums :</h2>
            <div ng-repeat="album in albums" class="item">
                {{album}}
            </div>
            <hr>
        </div>
    </div>
</div>