<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <h1 class="text-center">{{ player ? player.host : 'MPRemote' }}</h1>
        <div ng-if="player">
            <button id="next" ng-click="next()">Next</button>
            <button id="prev" ng-click="prev()">Previous</button>
            <button id="pause" ng-click="pause()">Pause</button>
            <button id="play" ng-click="play()">Play</button>
            <button id="stop" ng-click="stop()">Stop</button>
            <button id="clear" ng-click="clear()">Clear</button>
            <div>Volume: {{player.status.volume}}</div>
            <div>
                <span id="currentVol"></span><button id="volMinus" ng-click="volMinus()">Vol -</button><button  id="volPlus" ng-click="volPlus()">Vol+</button>
            </div>
            <div class="padding list">
                <div ng-repeat="song in player.playlist" class="item" ng-click="playAt($index)">
                    {{song.file}}</div>
            </div>
        </div>
        <div ng-if="!player">
            <p><strong>Le client n'est pas connecté</strong></p>
        </div>
    </div>
</div>
<hr>
<div class="row">
        <div class="foo">
            <h2>Your MUSIC</h2>
        </div>
</div>