<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-3">
        <h1 class="text-center">{{ player ? player.host : 'MPRemote' }}</h1>
        <div ng-if="player">
            <button id="next" ng-click="next()">Next</button>
            <button id="prev" ng-click="prev()">Previous</button>
            <button id="pause" ng-click="pause()">Pause</button>
            <button id="play" ng-click="play()">Play</button>
            <button id="stop" ng-click="stop()">Stop</button>
            <button id="clear" ng-click="clear()">Clear</button>
            <div>Volume: {{player.status.volume}}</div>
            <div>
                <span id="currentVol"></span><button id="volMinus" ng-click="volMinus()">Vol -</button><button  id="volPlus" ng-click="volPlus()">Vol+</button>
            </div>
            <div class="padding list">
                <div ng-repeat="song in player.playlist" class="item" ng-click="playAt($index)">
                    {{song.file}}</div>
            </div>
        </div>
        <div ng-if="!player">
            <p><strong>Le client n'est pas connecté</strong></p>
        </div>
    </div>
</div>
<hr>
<div class="row">
        <div class="foo">
            <h2>Your MUSIC</h2>
        </div>
</div>
<section class="row content">
    <div class="row text-uppercase text-center">
        <h1>Your musics</h1>
    </div>
    <div>
        <div class="col-sm-3 waiting-list">
            <h3>Waiting list</h3>
            <div>
                <div class="row">
                    <div class="col-sm-8"><a href="">{{song 1}}</a></div>
                    <div class="col-sm-4 text-right">
                        <button id="next"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <button id="next"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="row selected">
                    <div class="col-sm-8"><a href="">{{song 2 selected}}</a></div>
                    <div class="col-sm-4 text-right">
                        <button id="next"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <button id="next"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8"><a href="">{{song 3}}</a></div>
                    <div class="col-sm-4 text-right">
                        <button id="next"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <button id="next"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6 classic-list">
                <h3>Genres</h3>
                <div>
                    <div class="row">
                        <div class="col-sm-12"><a href="">{{genre 1}}</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 classic-list">
                <h3>Albums</h3>
                <div>
                    <div class="row">
                        <div class="col-sm-12"><a href="">{{album 1}}</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 classic-list">
                <h3>Playlists</h3>
                <div>
                    <div class="row">
                        <div class="col-sm-8"><a href="">{{playlist 1}}</a></div>
                        <div class="col-sm-4 text-right">
                            <button id="next"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn-add">Add</button>
                </div>
            </div>
            <div class="col-sm-6 classic-list">
                <h3>Composers</h3>
                <div>
                    <div class="row">
                        <div class="col-sm-12"><a href="">{{composer 1}}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><a href="">{{composer 2}}</a></div>
                    </div>
                    <div class="row selected">
                        <div class="col-sm-12"><a href="">{{composer 3 selected}}</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><a href="">{{composer 4}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 search-list classic-list">
            <div class="row text-center">
                <input class="col-sm-10 col-sm-offset-1" type="text" placeholder="Search (genres, albums, musics ...)" />
            </div>
        </div>
    </div>
</section>
