    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3>Saisir les données du serveur</h3>
            <form>
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Host" ng-disabled="player" ng-model="player.host">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Port" ng-disabled="player" ng-model="player.port">
                    </label>
                </div>
                    <button ng-if="player" class="btn btn-default" ng-click="disconnect()">Se desconnecter</button>
                    <button ng-if="!player" class="btn btn-default" ng-click="connect(player)">Se connecter</button>
                    <button ng-if="!player" class="btn btn-default" ng-click="connect()">Connection par défaut</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-default" >Rechercher des serveurs</button>
            <div ng-if="servers.length > 0 ">
                <p>aqui algo</p>
                {{servers}}
                <div ng-repeat="server in servers" class="item" ng-click="select(server)">
                    {{server.address[0].item.addr}}</div>
            </div>
        </div>
    </div>

