<uib-tabset active="active">
    <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
        <div ng-if="!tab.static" class="row">
            <div class="col-md-6 col-md-offset-3" >
                <p>Vous &ecaron;tes connect&eacute; &agrave; {{tab.player.host}}:{{tab.player.port}}</p>
                <button class="btn btn-default" ng-click="disconnect(tab.player)">Se déconnecter</button>
            </div>
        </div>
        <div ng-if="tab.static"  class="col-md-6 col-md-offset-3">
            <h3>Saisir les données du serveur</h3>
            <form>
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Host" ng-model="player.host">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Port" ng-model="player.port">
                    </label>
                </div>
                <button class="btn btn-default" ng-click="connect(player)">Se connecter</button>
                <button class="btn btn-default" ng-click="connect()">Connexion par défaut</button>
            </form>
        </div>
    </uib-tab>
</uib-tabset>
<!--
<div class="row">
        <div ng-if="player" class="col-md-6 col-md-offset-3" >
            <p>Vous &ecaron;tes connect&eacute; &agrave; {{player.host}}:{{player.port}}</p>
            <button class="btn btn-default" ng-click="disconnect(player)">Se déconnecter</button>
        </div>
        <div  class="col-md-6 col-md-offset-3">
            <h3>Saisir les données du serveur</h3>
            <form>
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Host" ng-model="player.host">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Port" ng-model="player.port">
                    </label>
                </div>
                <button class="btn btn-default" ng-click="connect(player)">Se connecter</button>
                <button class="btn btn-default" ng-click="connect()">Connexion par défaut</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-default" >Rechercher des serveurs</button>
            <div ng-if="servers.length > 0 ">
                <p>aqui algo</p>
                {{servers}}
                <div ng-repeat="server in servers" class="item" ng-click="select(server)">
                    {{server.address[0].item.addr}}</div>
            </div>
        </div>
    </div>
-->