<uib-tabset active="active">
    <uib-tab index="$index" ng-repeat="tab in tabs" heading="{{tab.title}}" disable="tab.disabled">
        <div ng-if="!tab.static" class="row">
            <div class="col-md-6 col-md-offset-3" >
                <p>Vous &ecaron;tes connect&eacute; &agrave; {{tab.player.host}}:{{tab.player.port}}</p>
                <button class="btn btn-default" ng-click="disconnect(tab.player)">Se déconnecter</button>
            </div>
        </div>
        <div ng-if="tab.static"  class="col-md-6 col-md-offset-3">
            <h3>Saisir les données du serveur</h3>
            <div ng-if="savedServers.length >0" class="row">
                <div class="col-md-4 text-center">
                    <select ng-options="server.host for server in savedServers"
                            ng-model="selectedServer" ng-change="onServerSelect(selectedServer)" >
                        <option value="">Select Option</option>
                    </select>
                </div>
            </div>

            <form>

                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Host" ng-model="player.host" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="Port" ng-model="player.port" required>
                    </label>
                </div>
                <div class="form-group">
                    <label>Sauvegarder:
                        <input type="checkbox" ng-model="player.mustRemember">
                    </label>
                </div>
                <button type="submit" class="btn btn-default" ng-click="connect(player)">Se connecter</button>
            </form>
        </div>
    </uib-tab>
</uib-tabset>